* {
   background-color: rgb(234, 244, 240);
}

.intro {
  text-align: center;
}

a:visited,
Link:visited,
a:link,
Link:link {
  text-decoration: none;
  color: black;
}

.navbar-menu {
text-align: center;
}

.navbar-list {
  display: inline-block;
  padding: 10px;
  text-align: left;
  background-color: rgb(222, 182, 202);
  border-radius: 5px;
  padding: 10px;
  margin:  10px 10px 10px 10px;
}

.navbar-list:hover {
  background-color: pink;
}